body{
    max-width: 2000px;
    /*margin: auto;*/
    /*text-align: center;*/
    background-color: #BF364F;
}
nav{
    width: 100%;
    height: 100px;
}

nav ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;

}

nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
nav a:enabled{
    text-decoration: none;
    color: #D9A491;
    border: none;

}

nav a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    text-align: center;
    text-decoration: none;
    color: #BF364F;
    border: none;


}
nav a:hover{
    color: #F2F2F2;
    background-color: #BF364F;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}


.active{
    background-color: #BF364F;
    cursor: pointer;
    color: #F2F2F2;
    text-decoration: none;
    font-size: 15px;
    -webkit-transition: font-size 10s ease-out;
    -moz-transition: font-size 10s ease-out;
    -ms-transition: font-size 10s ease-out;
    -o-transition: font-size 10s ease-out;
    transition: font-size 10s ease-out;
    box-shadow:10px 10px 30px #a3314a  inset;
    -moz-box-shadow:10px 10px 30px #a3314a inset;
    -webkit-box-shadow:10px 10px 30px #a3314a inset;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    display:block;
    width:100%;
    position:absolute;
    top:100px;
    left:0;
    right:0;
    bottom:0;
}

.animated.ng-enter, .animated.ng-leave{
    animation-duration:1s;
    animation-fill-mode:both;
    display:block;
    position:absolute;
    top:100px;
    left:0;
    right:0;
    bottom:0;


}
.left.ng-enter{ animation-name: slideInLeft; }
.left.ng-leave{ animation-name: slideOutLeft }
.right.ng-enter{ animation-name: slideInRight; }
.right.ng-leave{ animation-name: slideOutRight; }

.text-capitalize{
    text-transform: capitalize;
}



/*=======================Vue1 (Ajout d'entrées)========================*/
.vue1{
    height: 100vh;
    text-align: center;
}
.form{
    min-height: 180px;
    margin-top: auto;
    padding: 10px;
    /*border-radius: 5px;*/
    color: #F2CF66;
    font-weight:lighter;
}
.form h2{
    font-weight:lighter;

}
.form select{
    min-width: 200px;
    max-width: 200px;
}
.message{
    margin-top: 8px;
}
.message.ng-enter {
    animation: fadeIn 1s;
}

.message.ng-leave {
    animation: fadeOut 1s;
}
    /*=======colocForm (ajout colocs)=======*/
    /*.coloc-form{*/
        /*background-color:#BF364F;*/
    /*}*/
    /*=======moneyForm (ajout depenses)=======*/
    .money-form{
        background-color: #F2F2F2 ;
        color: #BF364F;
    }
    /*=======typeForm (ajout types de depenses)=======*/
    /*.type-form{*/
        /*background-color: #3498DB ;*/
    /*}*/
/*=======================Vue2 (tableau)========================*/
.vue2 {
    max-height: 100vh;
    /*border-left: 1px solid #F2F2F2;*/
}

.vue2 h2{
    color: #F2CF66;
    font-weight: lighter;
    text-align: center;
}

.vue2 ul{
    list-style-type: none;
    padding: 0;
}
.vue2 th{
    color: #F2F2F2;
    font-weight: lighter;


}
.bigger{
    font-size: 20px;

}
